BESTPRICE_DATABASE_URL=postgresql+asyncpg://bestprice_admin:CHANGE_ME@SEU-ENDPOINT-RDS.rds.amazonaws.com:5432/bestprice
BESTPRICE_INFOSIMPLES_TOKEN=coloque_seu_token_infosimples_aqui
BESTPRICE_COSMOS_TOKEN=RoIaf1CKtFyV7TE0LGBG9w
